/*! CSS Used from: https://ton.org/_next/static/css/168331f90bd3d49a.css */
body ::selection{background:var(--light-selection);}
h1,p{margin:0;white-space:pre-wrap;}
svg{display:block;}
button{font-style:normal;appearance:none;margin:0;padding:0;border:none;background:none;outline:none;}
::selection{background:var(--icon_light_secondary);}
img{-webkit-user-drag:none;-khtml-user-drag:none;-moz-user-drag:none;-o-user-drag:none;user-drag:none;}
.Title{font-weight:700;}
.Title--level-ultra{font-size:32px;line-height:40px;}
@media (min-width:734px){
.Title--level-ultra{font-size:64px;line-height:72px;}
}
@media (min-width:1280px){
.Title--level-ultra{font-size:80px;line-height:92px;}
}
.Text--weight-regular{font-weight:400.3;}
.Text--scheme-light{color:var(--text-secondary-light);}
.Text--level-1{font-size:18px;line-height:26px;letter-spacing:-.14px;}
@media (max-width:734px){
.Text--level-1{font-size:16px;letter-spacing:-.11px;}
}
.ButtonText{font-weight:700;}
.ButtonText--l-2{font-size:14px;line-height:24px;}
@media (min-width:734px){
.ButtonText--l-2{font-size:16px;}
}
.NewContainer__inner{box-sizing:border-box;width:100%;}
.NewContainer__inner{max-width:calc(100% - 32px);min-width:calc(100% - 32px);margin:0 auto;}
@media (min-width:734px){
.NewContainer__inner{max-width:calc(100% - 80px);min-width:calc(100% - 80px);}
}
@media (min-width:1024px){
.NewContainer__inner{max-width:936px;min-width:936px;}
}
@media (min-width:1280px){
.NewContainer__inner{max-width:1120px;min-width:1120px;}
}
.NewButton{box-sizing:border-box;padding:0;border:none;appearance:none;user-select:none;text-align:center;cursor:pointer;background:none;transform:translateZ(0);display:inline-block;height:max-content;overflow:hidden;max-width:100%;text-overflow:ellipsis;white-space:nowrap;}
.NewButton--mode-primary{color:var(--basic-white);padding:12px 24px;border-radius:40px;background:var(--accent-light);transition:color .2s ease-in-out,background-color .2s ease-in-out,opacity .2s ease-in-out;cursor:pointer;}
@media (min-width:734px){
.NewButton--mode-primary{padding:14px 28px;}
}
@media (min-width:1280px){
.NewButton--mode-primary{padding:16px 32px;}
}
.NewButton--mode-primary:disabled{opacity:.2;cursor:default;}
@media screen and (min-width:1000px){
.NewButton--mode-primary:active,.NewButton--mode-primary:hover{background:var(--accent-hover-light);}
}
.NewButton__inner{display:flex;align-items:center;justify-content:center;vertical-align:center;width:100%;opacity:1;transition:opacity .2s ease-in-out;text-wrap:balance;}
.NewButton__loader{position:absolute;z-index:1;opacity:0;top:50%;left:50%;transform:translate(-50%,-50%);transition:opacity .2s ease-in-out;}
.NewButton__loader svg{animation:rotation 1s linear infinite;}
.NewPageCover--ultra .NewPageCover__title{padding-bottom:32px;}
@media (max-width:734px){
.NewPageCover--ultra .NewPageCover__title{padding-bottom:16px;}
}
.NewPageCover--ultra .NewPageCover__description{max-width:600px;margin:auto;font-size:20px;line-height:30px;letter-spacing:-.034px;}
@media (max-width:734px){
.NewPageCover--ultra .NewPageCover__description{font-size:16px;line-height:24px;}
}
.NewPageCover__texts{display:flex;flex-direction:column;justify-content:center;text-align:center;}
.NewPageCover--m-scheme-light .NewPageCover__description{color:var(--text-secondary-light);}
.NewPageCover .NewContainer__inner{display:flex;flex-direction:column;}
@media (min-width:734px){
.NewPageCover .NewContainer__inner{display:grid;}
}
/*! CSS Used from: https://ton.org/_next/static/css/9875d6265b32f775.css */
.AppsPage__inlineGradient{display:inline-block;-webkit-text-fill-color:transparent;background:linear-gradient(89deg,#0098ea 36.99%,#1bc9ff 79.91%);background-clip:text;-webkit-background-clip:text;}
.AppsPage__inlineGradient img{width:96px;height:96px;vertical-align:middle;margin-top:-16px;}
@media (max-width:734px){
.AppsPage__inlineGradient img{width:42px;height:42px;margin-top:-4px;}
.AppsPage__inlineGradient{max-height:40px;}
}
.AppsPage__headerButtons{margin-top:32px;gap:24px;display:flex;justify-content:center;align-items:center;}
@media (max-width:734px){
.AppsPage__headerButtons{margin-top:16px;gap:16px;}
}
/*! CSS Used keyframes */
@keyframes rotation{0%{transform:rotate(0deg);}to{transform:rotate(1turn);}}
